/*Schrijf hier jouw CSS*/



body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    height: 110vh;
}

header {

  flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0;
}

article {
    flex-basis: 70vh;
    flex-grow: 5;
    flex-shrink: 5;
}

nav {
    flex-basis: 20vh;
    flex-shrink: 2;
    order: 3;
    flex-grow: 0;

}

aside {

    flex-basis: 20vh;
    flex-shrink: 2;
    flex-grow: 0;
}

footer {

    flex-basis: 90px;
    flex-grow: 0;
    flex-shrink: 0;
}

