/*Schrijf hier jouw CSS*/

body {
    border: 2px dashed blue;
    display: flex;
    height: 100vh;
    flex-direction: row;
}

nav {
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;


}


.inner-row {
    border: 2px dashed green;
    display: flex;
    height: 85vh;

}

header {
    display: flex;
    border: 2px dashed orange;
    /*flex-basis: 100px;*/
    width: 90vw;
    /*height: 15vh;*/
    flex-grow: 1;
    flex-shrink: 0;
    /*flex-basis: 100px;*/
}

.outer-col-2 {
    border: 2px dashed black;
    display: flex;
    flex-direction: column;

}

.inner-col {
    border: 2px dashed pink;
    display: flex;
    flex-direction: column;

}

article {
    display: flex;
    width: 60vw;
    height: 70vh;
    flex-grow: 1;
    flex-shrink: 1;
}

footer {
    display: flex;
    flex-basis: 100px;
    height: 15vh;
    flex-grow: 0;
    flex-shrink: 0;

}

aside {
    border: 2px dashed brown;
    display: flex;
    /*flex-basis: 200px;*/
    /**/
    width: 33%;
    flex-grow: 0;
    flex-shrink: 0;


}

/*article, footer {*/
/*    display: flex;*/
/*    border: 2px dashed purple;*/
/*height: 15vh;*/

/*}*/